@using Social_Grants.Models.Account
@model ForgotPassword
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="container-forgot-password">
    <form method="post">
        <div class="container text-center">
            <img class="rounded-circle shadow border border-dark border-5" src="~/images/icons/IMG-20230512-WA0012.jpg" width="50" />
            <h1 class="header_label text-center">Forgot Password?</h1>
            <label>Enter email to reset your password</label>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-text form-label"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
            <div class="form-floating">
                <input type="text" asp-for="Email" class="border-top-0 border-left-0 border-right-0 rounded-0" placeholder="Email" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="text-center">
            <div class="col-sm-8 offset-2">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
