@using Social_Grants.Models.Account
@model ResetPassword
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container-reset-password">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="container text-center">
                    <img class="rounded-circle shadow border border-dark border-5" src="~/images/icons/IMG-20230512-WA0012.jpg" width="50" />
                    <h1 class="header_label text-center">Reset your password.</h1>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-floating">
                    <input asp-for="Email" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="username" aria-required="true" />
                    <label asp-for="Email" class="form-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Password" class="form-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="ConfirmPassword" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                @*<div class="row">
                    <div class="col col-md-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                </div>*@
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}