@using Social_Grants.Models.Account
@model ChangePassword
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="text-center mb-4">Change password</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <label asp-for="OldPassword" class="form-label"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input asp-for="OldPassword" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input asp-for="NewPassword" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input asp-for="ConfirmPassword" class="border-top-0 border-left-0 border-right-0 rounded-0" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-9">
                    <button type="submit" class="w-100 btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}