@using Social_Grants.Models.Grant
@model DisabilityGrant
@{
    ViewData["Title"] = "Disability grant form";
}
<form method="post" enctype="multipart/form-data">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Disability grant form</h3>
            <div class="row mb-2">
                <div class="col-sm-3">
                    <label asp-for="ForWhoId"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <select asp-for="ForWhoId" class="form-control ForWho" asp-items="Model.ForWho">
                        <option value="0">Select an option</option>
                    </select>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="text-danger error d-none"></label>
                </div>
            </div>
            <div class="Details d-none">
                <h5 class="mb-3 text-decoration-underline">Dependent details</h5>
                <div class="SubDetails">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label asp-for="Dependent.FullName"></label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="form-control FullName" asp-for="Dependent.FullName" />
                            <span class="text-danger" asp-validation-for="Dependent.FullName"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label asp-for="Dependent.LastName"></label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="form-control LastName" asp-for="Dependent.LastName" />
                            <span class="text-danger" asp-validation-for="Dependent.LastName"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label asp-for="Dependent.IDNumber"></label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="form-control @nameof(Dependent.IDNumber)" asp-for="Dependent.IDNumber" />
                            <span class="text-danger" asp-validation-for="Dependent.IDNumber"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <label asp-for="Dependent.Nationality"></label>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input class="form-control Nationality" asp-for="Dependent.Nationality" />
                            <span class="text-danger" asp-validation-for="Dependent.Nationality"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <label asp-for="CaredByState"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="form-control CaredByState" asp-for="CaredByState" />
                        <span class="text-danger" asp-validation-for="CaredByState"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <label asp-for="OtherGrant"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="form-control OtherGrant" asp-for="OtherGrant" />
                        <span class="text-danger" asp-validation-for="OtherGrant"></span>
                    </div>
                </div>
            </div>
            <h5 class="d-flex align-items-center mb-3 mt-3"><i class="material-icons text-info mr-2"></i>Upload the following supporting documents</h5>
            <div class="row mb-2 FileUploadDepenentID">
                <div class="col-sm-3">
                    <label asp-for="Dependent.IdentityDocument"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="file" asp-for="Dependent.IdentityDocument" multiple="false" accept="application/pdf" />
                    <span class="text-danger" asp-validation-for="Dependent.IdentityDocument"></span>
                </div>
            </div>
            <div class="row mb-2 FileUploadMedicalReport">
                <div class="col-sm-3">
                    <label asp-for="MedicalReport"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="file" asp-for="MedicalReport" multiple="false" accept="application/pdf" />
                    <span class="text-danger" asp-validation-for="MedicalReport"></span>
                </div>
            </div>
            <div class="row mb-2 FileUploadApplicationForm">
                <div class="col-sm-3">
                    <label asp-for="ApplicationForm"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="file" asp-for="ApplicationForm" multiple="false" accept="application/pdf" />
                    <span class="text-danger" asp-validation-for="ApplicationForm"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="offset-3 col-sm-9 text-end">
                    <button id="BtnSubmit" type="submit" class="btn btn-primary" style="width:150px">Submit</button>
                    <a asp-controller="Grants" asp-action="CareDependencyGrant" class="btn btn-secondary ms-2" style="width:150px">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}