@{
    ViewData["Title"] = "Disability Grant";
}
<div class="container p-3 mt-4">
    <div>
        <h2 class="text-primary">Disability Grant</h2>
        <hr />
    </div>
    <div class="mt-4">
        <h3>Applicant must meet the following requirements:</h3>
        <ul>
            <li>The applicant must be a South African citizen, permanent resident or refugee.</li>
            <li>The applicant must be resident in South Africa.</li>
            <li>The applicant must be 18 to 59 years of age.</li>
            <li>The applicant must submit a medical / assessment report confirming permanent, severe disability.</li>
            <li>The applicant's medical assessment must not be older than 3 months at date of application.</li>
            <li>The applicant and spouse must meet the requirements of the means test.</li>
            <li>The applicant must not be maintained or cared for in a State Institution.</li>
            <li>The applicant must not be in receipt of another social grant in respect of him or herself.</li>
        </ul>
    </div>
    <div class="btn-group mt-3">
        <a class="btn btn-primary" asp-controller="Grants" asp-action="DisabilityGrantForm" style="width:150px">Apply</a>
        <a asp-controller="Home" asp-action="SocialGrants" class="btn btn-secondary ms-2" style="width:150px">Back</a>
    </div>
</div>