@using Social_Grants.Models.Grant
@model OldAgeGrant
@{
    ViewData["Title"] = "Old Age grant form";
    Layout = "~/Views/Shared/_GrantsLayout.cshtml";
}
<form method="post">
    <div class="card p-3">
        <div class="card-body">
            <h3 class="d-flex align-items-center mb-3 justify-content-center"><i class="material-icons text-info mr-2"></i>Old Age grant form</h3><hr />
            <div class="container">
                <h5 class="mb-3 text-decoration-underline">Answer the following questions</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <label asp-for="CaredByState"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="border-top-0 border-left-0 border-right-0 rounded-0" asp-for="CaredByState" />
                        <span class="text-danger" asp-validation-for="CaredByState"></span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <label asp-for="OtherGrant"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input class="border-top-0 border-left-0 border-right-0 rounded-0" asp-for="OtherGrant" />
                        <span class="text-danger" asp-validation-for="OtherGrant"></span>
                    </div>
                </div> 
            </div>
            <div class="row mt-3">
                <div class="offset-3 col-sm-9 text-end">
                    <button id="BtnSubmit" type="submit" class="btn btn-primary" style="width:150px">Submit</button>
                    <a asp-controller="Grants" asp-action="CareDependencyGrant" class="btn btn-secondary ms-2" style="width:150px">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}