@{
    ViewData["Title"] = "About";
}
<div class="container mb-4">
    <div class="container text-center"><h2>About us</h2><hr /></div>
    <div class="container">
        <h4 class="text-primary">Our Vision</h4>
        <p>
            A leader in the delivery of social security services.
        </p>
        <h4 class="text-primary">Our Mission</h4>
        <p>
            To administer quality customer-centric social security services to eligible and potential beneficiaries.
        </p>
        <h4 class="text-primary">Our Values</h4>
        <p>
            Innovet Technologies, as a public entity, subscribes to those values that promote democracy and a culture of respect for human rights. In addition, in building social cohesion,
            the following values are paramount:
        </p>
        <ul id="ourvalues">
            <li>Transparency.</li>
            <li>Equity</li>
            <li>Integrity.</li>
            <li>Confidentiality.</li>
            <li>Customer Care Centred Approach.</li>
        </ul>
        <p>
            The value proposition will require continuous refinement in order to satisfy and meet customer needs and expectations. The responsiveness of Innovet Technologies to community
            needs and expectations may require adjustments in respect of service delivery, information technology and administrative processes.
        </p> 
    </div>
</div>

