@{
    ViewData["Title"] = "Contact";
}
<div class="container mb-4">
    <div class="container text-center">
        <h3 class="text-center mb-3">Contacts</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Gauteng</h4>
            <label>Mr Themba Matlou</label>
            <label>
                <strong>EMAIL: </strong>
                <a href="mailto:abc@example.com?subject = Feedback&body = Message">ThembaMat@InnovetTechnologies.gov.za</a>
            </label>
            <label>28 Harrison Street</label>
            <label>Johannesburg</label>
            <label>2000</label>
            <label>Private Bag X120</label>
            <label>Marshalltown 2107</label>
            <label>Tel: 011 241 8320</label>
            <label>Fax: 011 241 8305</label>
            <label>
                <strong>EMAIL: </strong>
                <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesGP@InnovetTechnologies.gov.za</a>
            </label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Limpopo</h4>
            <label>Ms Zodwa Mvulane</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">ZodwaMv@InnovetTechnologies.gov.za</a></label>

            <label>43 Landros Mare Street</label>
            <label>Polokwane</label>
            <label>0699</label>

            <label>Private Bag X9677</label>
            <label>Polokwane</label>
            <label>0700</label>

            <label>Tel: 015 291 7509</label>
            <label>Fax: 015 291 7416</label>
            <label>
                <strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesLIM@InnovetTechnologies.gov.za</a>
                / <a href="#">CustomerCareLim@InnovetTechnologies.gov.za</a>
            </label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Free State</h4>
            <label>(Acting) Mr Mohodi Tsosane</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">MohodiT@InnovetTechnologies.gov.za</a></label>

            <label>African Life Building</label>
            <label>75 St Andrew Street</label>
            <label>Bloemfontein</label>

            <label>Private Bag X20553</label>
            <label>Bloemfontein</label>
            <label>9300</label>

            <label>Tel: 051 410 8339</label>
            <label>Fax: 051 409 0862</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesFS@InnovetTechnologies.gov.za</a></label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Innovet Technologies Head Office</h4>
            <label>Innovet Technologies House</label>
            <label>501 Prodinsa Building</label>
            <label>Cnr Steve Biko and Pretorius Streets</label>
            <label>Pretoria</label>

            <label>Private Bag X55662</label>
            <label>Arcadia</label>
            <label>Pretoria</label>
            <label>0083</label>

            <label>Tel: 012 400 2322 (Switchboard)</label>
            <label>0800 60 10 11</label>
            Website: www.Innovet Technologies.gov.za

            <b>Grants Enquiries</b>
            <label>Innovet Technologies Toll Free: 0800 60 10 11</label>
            <label><strong>EMAIL: </strong><a href="#">GrantEnquiries@InnovetTechnologies.gov.za</a></label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Mpumalanga</h4>
            <label>Mr Themba Matlou</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">ThembaMat@InnovetTechnologies.gov.za</a></label>

            <label>18 Ferreira Street</label>
            <label>Nelspruit</label>
            <label>1200</label>

            <label>Private Bag X11230</label>
            <label>Nelspruit</label>
            <label>1200</label>

            <label>Tel: 013 754 9446</label>
            <label>Fax: 013 754 9501</label>

            <b>Branch Coordinator:</b>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesMP@InnovetTechnologies.gov.za</a></label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">North West</h4>
            <label>Ms Zodwa Mvulane</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">ZodwaMv@InnovetTechnologies.gov.za</a></label>

            <label>Innovet TechnologiesHouse</label>
            <label>University Drive</label>
            <label>Mmabatho</label>
            <label>2735</label>

            <label>Private Bag X44</label>
            <label>Mmabatho</label>
            <label>2735</label>

            <label>Tel: 018 388 4006</label>
            <label>Fax: 086 611 9740</label>
            <label>
                <strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesNW@InnovetTechnologies.gov.za</a>
                / <a href="#">Innovet Technologiesnwqueries@net1.com</a>
            </label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Northern Cape</h4>
            <label>(Acting) Mr Mohodi Tsosane</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">MohodiT@InnovetTechnologies.gov.za</a></label>

            <label>Du Toitspan Building</label>
            <label>95-97 Du Toitspan Road</label>
            <label>Kimberley</label>
            <label>8300</label>

            <label>Private Bag X6011</label>
            <label>Kimberley</label>
            <label>8300</label>

            <label>Tel: 053 802 4919</label>
            <label>Fax: 053 832 5229</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesNC@InnovetTechnologies.gov.za</a></label>

            <label>
                <b>Branch Coordinator:</b> Linda Denga (Klaas)
            </label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">LindaD@InnovetTechnologies.gov.za</a></label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Eastern Cape</h4>
            <label>(Acting) Mr Zanoxolo Mpeta</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">OscarM1@InnovetTechnologies.gov.za</a></label>

            <label>1st Floor</label>
            <label>Waverley Office Park</label>
            <label>3-33 Phillip Frame Road</label>

            <label>Private Bag X9001</label>
            <label>Chiselhurst</label>
            <label>East London</label>
            <label>5200</label>

            <label>Tel: 043 707 6335</label>
            <label>Fax: 043 707 6487</label>
            <label>
                <strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesEC@InnovetTechnologies.gov.za</a>
                / <a href="#">ECCustomerCare@InnovetTechnologies.gov.za</a>
            </label>

            <label>
                <b>Branch Coordinator:</b> Felicia Dickens
            </label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">FeliciaWi@InnovetTechnologies.gov.za</a></label>
        </div>
        <div class="col d-flex flex-column">
            <h4 class="text-primary">Western Cape</h4>
            <label>(Acting) Mr Abraham Mahlangu</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">AbrahamM@InnovetTechnologies.gov.za</a></label>

            <label>Golden Acre</label>
            <label>Adderley Street</label>
            <label>Cape Town</label>
            <label>8000</label>

            <label>Private Bag X9189</label>
            <label>Cape Town</label>
            <label>8000</label>

            <label>Tel: 021 469 0235</label>
            <label>Fax: 021 469 0260</label>
            <label><strong>EMAIL: </strong> <a href="mailto:abc@example.com?subject = Feedback&body = Message">GrantsEnquiriesWC@InnovetTechnologies.gov.za</a></label>
        </div>
    </div>
</div>
