@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="container text-center">
        <h1 class="display-4">Welcome to SA Social Security Agency</h1><hr />
    </div>
    <div class="container">
        <h4>Here's what you can do on the app:</h4>
        <ul>
            <li> You can apply for one of the social grants available in South Africa.</li>
            <li> Check your application status.</li>
            <li> Choose a payment method if one of the grants you applied for is approved, which can be through a bank account or post office, 
                <ul>
                     <li> If you choose to use a bank account, it should be registered on your name.</li>
                    <li>If you choose a Post Office, a reference number will be provided which you will use in hand with your ID book to receive your money at the post office.</li>
                </ul>
            </li>
            <li> You can update your personal, banking, or Post Office details.</li>
            <li>Change a payment method.</li>
        </ul>
    </div>
</div>