@{
    ViewData["Title"] = "Social Grants";
}
<div class="container">
    <div class="mt-4">
        <h3>Social Grants available</h3>
        <hr />
    </div>
    <div>
        <h5>Click on the grant you wish to apply for.</h5>
        <ul>
            <li class="m-2"><a asp-controller="Grants" asp-action="CareDependencyGrant">Care Dependency Grant</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="ChildSupport">Child Support</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="DisabilityGrant">Disability Grant</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="FosterGrant">Foster Grant</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="GrantInAid">Grant-In-Aid</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="OldAgeGrant">Old Age Grant</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="SocialReliefDistressGrant">Social Relief Distress Grant</a></li>
            <li class="m-2"><a asp-controller="Grants" asp-action="WarVeteranGrant">War Veteran Grant</a></li>
        </ul>
    </div>
</div>
